<!DOCTYPE html>
<html ng-app="WikiApp">
<head lang="en">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="'/">
    <title>Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}">

    {% block head %}{% endblock head %}
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="{{ url_for('frontend-pages', page='find-page')}}">Find Page</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock content %}
    </div>

    <script src="{{ url_for('static', filename='bower_components/angular/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-bootstrap/ui-bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-route/angular-route.min.js') }}"></script>
</body>
</html>
