{% extends "pages/base.html" %}
{% block content %}

<section id="page-detail" ng-controller="PageDetail">
    <div class="overlay">
        <div class="container">
            <div class="col-md-6 wow fadeInUp" data-wow-dealy="'0.6s">
                {% raw %}
                <div ng-bind-html="data.rendered_content | sanitize">
                </div>

                <div ng-if="errors">
                    The Following error ocurred on the backend:
                    {{ errors }}
                </div>
                {% endraw %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}